<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <title>Contact Us</title>
</head>

<body>
    <h1>Contact Us</h1>
    <div class="topnav"> <a class="active" href="/contact">Contact Us</a><a href="/">Map</a> </div>

    <div class="info">
        <img src="https://via.placeholder.com/120x120">
        <p>Name1
            <br>Email
            <br>Telephone
        </p>
    </div>
    <div class="info">
        <img src="https://via.placeholder.com/120x120">
        <p>Name2
            <br>Email
            <br>Telephone
        </p>
    </div>
    <div class="info">
        <img src="https://via.placeholder.com/120x120">
        <p>Name3
            <br>Email
            <br>Telephone
        </p>
    </div>
    <div class="info">
        <img src="https://via.placeholder.com/120x120">
        <p>Name4
            <br>Email
            <br>Telephone
        </p>
    </div>
    <div class="info">
        <img src="https://via.placeholder.com/120x120">
        <p>Name5
            <br>Email
            <br>Telephone
        </p>
    </div>
</body>

</html>