<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Google Map</title>
  <style>
    #map {
      height: 500px;
      width: 100%;
    }
  </style>
</head>

<body>
  <h1>Veracruz Ventures Mapper</h1>
  <div id="map">

  </div>
  <script src="{{url_for('static', filename='js/jquery-3.6.0.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/index.js')}}"></script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRzt-BfyKqrRlG8Es2bAtztnrjffPntUM&amp;callback=initMap&amp;v=weekly&libraries=drawing"
    async="">
    </script>

  <!--Datatable install-->
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

  <!-- Initialise datatable-->
  <script>$(document).ready(function () {
      $('#example').DataTable({
        ajax: '/data',
        serverSide: true,
        columns: [
          { data: 'name' },
          { data: 'address' },
          { data: 'city' },
          { data: 'postal_code' },
          { data: 'latitude' },
          { data: 'longitude' }
        ],
      });
    });</script>
  <table id="example" class="display" style="width:100%">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>Postal Code</th>
        <th>Latitude</th>
        <th>Longitude</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>Postal Code</th>
        <th>Latitude</th>
        <th>Longitude</th>
      </tr>
    </tfoot>
  </table>
</body>

</html>